<div class="col-md-12 issue">
    <div class="col-md-12 content-issue">
    <h2 class="title-issue page-header"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> The width of the page is larger than an average mobile browser size <small><%=category%></small></h2>
        <p>The width of the page is larger than an average mobile browser size - this means users will have to scroll horizontally and vertically, or zoom in and out.</p>
    </div>
</div>