<div class="issue">
    
    
    <h2>Flash application detected </h2>
        <p>An Adobe Flash applet is loaded via the embed tag.</p>
        <p>Adobe Flash will not run on many mobile devices.</p>
</div>
<div class='fix'>
            
<p>            Nowadays, technologies such as HTML5, SVG and the canvas API provide well-supported replacements for most Flash features.</p>
</div>
