<div class="issue">


<h2> Too small font size detected </h2>
<p>Elements detected with font-size lower than 16px:</p>
<ul>
<%for(index in size){%>
<li><code><%=content[index]%></code> (<%=tag[index]%> element) display with small font size. (<%=size[index]%> pixels CSS)</li>
<%}%>
</ul>
<p>On a mobile device, it's recommended to not put font-size lower than 16px because the user experience will be deteriorated with small font size. It could force user to zoom on their mobile device.</p>
</div>
<div class='fix'>
            
<p>             It's recommended to put font-size greater than 16px.</p>
</div>