<div class="col-md-12 issue">
    <div id="issue-status" class="col-md-1"><span class="octicon octicon-issue-opened"></span></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue page-header">App manifest is not valid <br><small><%=category%></small></h2>
        <p>The declared app manifest at <code><a href="<%= manifest %>"><%= manifest %></a></code> does not follow the requirements set in the <a href="http://www.w3.org/TR/appmanifest/">specification</a>:</p>
        <ul>
        <% for(var i=0; i < errors.length; i++) {%>
        <li><code><%= errors[i].stack %></code></li>
        <% } %>
        </ul>
        <p>It thus risks not being interpreted correctly by browsers.</p>
        <br>
        <div class='fixit'>
            <h2><span class="octicon octicon-issue-closed"></span> HOW TO FIX IT:</h2>
            <p>Make sure that the manifest file uses the properties is well-formed JSON; watch out in particular that JSON only accepts double-quotes (<code>"</code>), that these are required around property names, and JSON does not accept trailing commas.</p>
        </div>
    </div>
</div>