<div class="col-md-12 issue">
    <div id="issue-status" class="col-md-1"><span class="octicon octicon-issue-opened"></span></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue page-header"> More than one app manifests are declared <br><small><%=category%></small></h2>
        <p>More than one (<%=links.length + 1%>) app manifests are declared in the HTML.</p>
        <br>
        <p>Only the first manifest is taken into account; the other declarations should be removed as they clutter the code.</p>
        <div class='fixit'>
            <h2><span class="octicon octicon-issue-closed"></span> HOW TO FIX IT:</h2>
            Keep only the first <code>&lt;link rel=manifest&gt;</code> declaration.
        </div>
    </div>
</div>