<div class="issue">
    
    
    <h2> Favicon unnecessarily checked </h2>
        <p>The page does not have a favicon at <code><%=url%></code> but the browser had to make a request to determine it.</p>
        <p>Favicon helps users quickly identify a particular page in a list of opened windows; unless told otherwise, browsers always make requests to <code>/favicon.ico</code> to obtain these favicons. When no favicon is present, this generates unnecessary network traffic.</p>
</div>
<div class='fix'>
            
<p>            Set up a favicon on the domain, or specific to the page; otherwise, use <code>&lt;link rel='icon' href='data:;base64,iVBORw0KGgo='&gt;</code> in the head of the page to prevent the browser from doing the additional request. See <a href="http://www.jonathantneal.com/blog/understand-the-favicon/">Understanding the Favicon</a> for in-depth information on browser and platform support.</p>
</div>