<div class="col-md-12 issue">
    <div class="col-md-1 num-issue"></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue"><%=number%> resources could be compressed</h2>
        <p><%=number%> resources loaded to display the page could be transmitted more quickly if they were compressed:</p>
        <details>
        <summary><%=number%> compressable resources</summary>
        <ul><% for (var i = 0; i<compressable.length; i++) {%>
                <li><code><%=compressable[i]%></code></li>
            <% } %>
        </ul>
        </details>
        <h3>why ?</h3>
        <p>Reducing the overall amount of data needed to display the page makes it load faster, a critical component of the user experience on mobile browsers.</p>
        <h3>how fix it ?</h3>
        <p>Enable compression on the Web server.</p>
    </div>
</div>