<div class="col-md-12 issue">
    <div class="col-md-1 num-issue"></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue"><%=number%> redirects encountered during page load</h2>
        <p>When loading the resources required to display the page from the network, <%=number%> HTTP redirects were triggered.</p>
        <h3>why ?</h3>
        <p>Each HTTP redirects require an additional round trip on the network, which slows down the page load without any benefit to the user.</p>
        <h3>how fix it ?</h3>
        <p>Use the final destination URL for the resources.</p>
    </div>
</div>