<div class="col-md-12 issue">
    <div class="col-md-1 num-issue"></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue">Favicon unnecessarily checked</h2>
        <p>The page does not have a favicon at <%=url%>, but the browser had to make a request to determine it.</p>
        <h3>why ?</h3>
        <p>Favicon helps users quickly identify a particular page in a list of opened windows; unless told otherwise, browsers always make requests to /favicon.ico to obtain these favicons. When no favicon is present, this generates unnecessary network traffic.</p>
        <h3>how to fix it ?</h3>
        <p>Set up a favicon on the domain, or specific to the page; otherwise, use link rel='icon' href='data:;base64,iVBORw0KGgo=' in the page to prevent the browser from doing the additional request.</p>
    </div>
</div>