<div class="col-md-12 issue">
    <div class="col-md-1 num-issue"></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue"><%=number%> HTTP errors encountered during page load</h2>
        <p>When loading the resources required to display the page from the network, <%=number%> HTTP errors were triggered.</p>
        <h3>why ?</h3>
        <p>HTTP errors imply that the target resource was not loaded, which can impact the proper functioning of the page, and implies unneeded network traffic.</p>
        <h3>how fix it ?</h3>
        <p>Check the following resources to determine where the error comes from: <%=errors%>.</p>
    </div>
</div>