/* TODO : use full path of elements */

html, body{
  margin: 0px;
    padding: 0px;
    outline: 0px;
    height: 100%;
    background-color: #ecf0f1;
    font-family: Open Sans;
}



/* DEFAULT view */
#home{
    height: 100%;
    padding: 0px;
}

#home nav {
  text-align: center;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: 0px;
}

#home > header {
  padding: 0px;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #FCFCFB;
}

#home > header > form {
  padding: 0px;
}

.device-selector {
  margin-left: 0px;
  padding: 15px;
  background-image: none;
  background-color: transparent;
  border: 0px;
  box-shadow: none;
  border-radius: 2px;
  color: #8D9AA5;
  text-shadow:none;
}

.device-selector img{
  margin-bottom: 20px;
}

.device-selector:hover {
  background-color: transparent;
  color: #8D9AA5;
  transition:0.2s;
}

.btn-default:active, .btn-default.active {
  background-image: none;
  box-shadow: none;
  background-color: #eee;
  text-shadow:none;
  color: #8D9AA5;
  --box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.btn-group {
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.btn-group .btn + .btn{
  margin-left: 0px;
}

#home > header > form > div > #url {
  height: 50px;
  width: 100%;
  padding: 5px;
  margin: 0px;
  margin-top: 40px;
  border-left: 0px solid #eee;
  border-right: 0px solid #eee;
  border-top: 0px solid #eee;
  border-bottom: 0px solid #eee;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fcfcfb;
  font-size: 16px;
  font-weight: 300;
  color: #666;
  --box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
#home > header > form > div > button {
  height: 50px;
  width: 100%;
  margin-top: 40px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 2px;
  color: #FFF;
  font-weight: 700;
  font-size: 16px;
  background-color: #1abc9c;
  border-bottom: 2px solid #16a085;
}
#home > header > form > div > button:hover {
  transition:0.6s;
    background-color: #16a085;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
#home > header > form > div > button > span {
}
#home > header #options {
    margin-top: 30px;
}
#home > header > #options > #options-title {
    margin-top: 0px;
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    color: #8D9AA5;
}

#main-title {
  font-family: Bitter;
  font-size: 50px;
  font-weight: 700;
  color: #384047;
  text-align: center;
  margin-top: 20px;
}

#slogan {
  font-size: 30px;
  font-weight: 300;
  color: #8D9AA5;
  text-align: center;
  margin-top: 0px;
}

#footer {
  background-color: #ecf0f1;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#footer h2 {
  margin-top: 10px;
}

#footer img{
  text-align: center;
}

.border {
  margin-top: 50px;
  border-bottom: 1px solid #bdc3c7;
}

#donation-link{
  background-color: #FF5E5E;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

#infos {
  margin-top: 50px;
}

#infos h2 {
  font-family: Bitter;
  font-weight: 700;
  color: #8D9AA5;
  font-size: 20px;
}
/* MOBILE device view */
@media screen and (max-width: 990px) {
    #github-banner {
      visibility: hidden;
    }
    #overview {
    visibility: hidden;
    }
    #report > .navbar-fixed-top > div > h3 {
    visibility: hidden;
    }
    #main-title {
      font-size: 32px;
    }
    #slogan {
      font-size: 20px;
    }
    #home header {
      padding-top: 20px;
    }
    #home > header > form > div > #url {
      margin-top: 40px;
    }
    #home > header > form > div > button {
      margin-top: 20px;
    }
    .device-selector {
      width: 100%;
    }
    .border {
      margin-top: 40px;
    }
    #home > header > form > div > button {
      margin-top: 5px;
    }
    #home > header > form > div > #url {
      margin-top: 10px;
    }
}