<div class="col-md-12 issue">
    <div class="col-md-1 num-issue"></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue">Slow page load</h2>
        <p>The page loads slowly. </p>
        <h3>why ?</h3>
        <p>Resources size could be the origin of a slow page loading.</p>
        <h3>how fix it ?</h3>
        <p>Reduce the size and the number of associated resources.</p>
    </div>
</div>