<div class="col-md-12 issue">
    <div class="col-md-12 content-issue">
    <h2 class="title-issue page-header"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> The meta viewport does not declare a width nor an initial-scale <small><%=category%></small></h2>
        <p>The meta viewport does not declare a width, nor an initial-scale, and thus will not adapt the Web page to mobile screens.</p>
    </div>
</div>