<div class="col-md-12 issue">
    <div class="col-md-1 num-issue"></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue page-header">The meta viewport does not declare a width nor an initial-scale</h2>
        <p>The meta viewport does not declare a width, nor an initial-scale, and thus will not adapt the Web page to mobile screens.</p>
        <h3>why ?</h3>
        <p></p>
        <h3>how to fix it ?</h3>
        <p></p>
    </div>
</div>