<div class="col-md-12 issue">
    <div class="col-md-12 content-issue">
    <h2 class="title-issue page-header">Hardcoded viewport width <small><%=category%></small></h2>
        <p>The meta viewport uses an hardcoded value for the width of the viewport.</p>
        <h3>why ?</h3>
        <p>A numeric hardcoded value for the meta viewport declaration makes the page less responsive to the actual screen used; if the width is larger than the screen width, the page will be hard to read and will not benefit from some optimizations (e.g. removal of the 300 ms delay in clicks); if the page is significantly more narrow than the screen (as is likely on tablets), the page will not benefit from the whole screen real estate.</p>
        <h3>how to fix it ?</h3>
        <p>Use device-width as the value of the width  parameter in the meta viewport declaration.</p>
    </div>
</div>