<div class="col-md-12 issue">
    <div class="col-md-1 num-issue"></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue">No mobile viewport declared.</h2>
        <p>No mobile viewport declared. The meta viewport tag helps adapt the way Web pages are displayed in mobile browsers.</p>
        <h3>why ?</h3>
        <p>Without meta viewport declared, mobile browsers will render a Web page as they would on a ~1000px screen; in most cases, this will force users to zoom before they can interact with the page, and then they will have to scroll awkwardly to navigate on the page.</p>
        <h3>how fix it ?</h3>
        <p>Declare a mobile viewport using a meta viewport tag in the head of the HTML markup.</p>
    </div>
</div>