<div class="col-md-12 issue">
    <div class="col-md-12 content-issue">
    <h2 class="title-issue page-header"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Non-standard parameter in viewport declaration <small><%=category%></small></h2>
        <p></p>
    </div>
</div>