<div class="col-md-12 issue">
    <div id="issue-status" class="col-md-1"><span class="octicon octicon-issue-opened"></span></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue page-header"> More than one viewports are declared <br><small><%=category%></small></h2>
        <p>More than one viewports are declared in the HTML. Please check your HTML file keep a single meta viewport</p>
        <br>
        <p>Only the last meta viewport declaration is taken into account; the other declarations should be removed as they clutter the code and may have an impact on performance.</p>
        <div class='fixit'>
            <h2><span class="octicon octicon-issue-closed"></span> HOW TO FIX IT:</h2>
            Keep only the last meta viewport declaration. Learn more about <a href="https://docs.webplatform.org/wiki/tutorials/mobile_viewport">the mobile viewport</a>.
        </div>
    </div>
</div>