<div class="col-md-12 issue">
    <div class="col-md-12 content-issue">
    <h2 class="title-issue page-header">More than one viewports are declared <small><%=category%></small></h2>
        <p>More than one viewports are declared in the HTML. Please check your HTML file keep a single meta viewport</p>
        <br>
        <p>Only the last meta viewport declaration is taken into account; the other declarations should be removed as they clutter the code and may have an impact on performance.</p>
        <p class='fixit'><strong>Fix it:</strong> Keep only the last meta viewport declaration.</p>
    </div>
</div>