<div class="col-md-12 issue">
    <div class="col-md-1 num-issue"></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue">More than one viewports are declared</h2>
        <p>More than one viewports are declared in the HTML. Please check your HTML file keep a single meta viewport</p>
        <h3>why ?</h3>
        <p>Only the last meta viewport declaration is taken into account; the other declarations should be removed as they clutter the code and may have an impact on performance.</p>
        <h3>how fix it ?</h3>
        <p>Keep only the last meta viewport declaration.</p>
    </div>
</div>