<div class="col-md-12 issue">
    <div class="col-md-12 content-issue">
    <h2 class="title-issue page-header"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> More than one viewports are declared <small><%=category%></small></h2>
        <p>More than one viewports are declared in the HTML. Please check your HTML file keep a single meta viewport</p>
        <br>
        <p>Only the last meta viewport declaration is taken into account; the other declarations should be removed as they clutter the code and may have an impact on performance.</p>
        <p class='fixit'><strong>Fix it:</strong> Keep only the last meta viewport declaration. Learn more about <a href="https://docs.webplatform.org/wiki/tutorials/mobile_viewport">the mobile viewport</a>.</p>
    </div>
</div>