<div class="col-md-12 issue">
    <div class="col-md-1 num-issue"></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue">Unknown parameter in viewport declaration</h2>
        <p></p>
        <h3>why ?</h3>
        <p></p>
        <h3>how to fix it ?</h3>
        <p></p>
    </div>
</div>