<div class="col-md-12 issue">
    <div class="col-md-12 content-issue">
    <h2 class="title-issue page-header">Unknown parameter in viewport declaration <small><%=category%></small></h2>
        <p></p>
        <h3>why ?</h3>
        <p></p>
        <h3>how to fix it ?</h3>
        <p></p>
    </div>
</div>