<div class="col-md-12 issue">
    <div class="col-md-12 content-issue">
    <h2 class="title-issue page-header"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Page load interrupted by a modal dialog <small><%=category%></small></h2>
    <p>Upon loading, the page opens a modal dialog (via <code>alert()</code>, <code>prompt()</code> or <code>confirm()</code> in JavaScript), with the text <q><%=text%></q>.</p>
    	<br>
        <p>Modal dialogs are in most cases a bad idea: they interrupt the user normal interactions with the page and they stop the page from loading until the user reacts.</p>
        <p class='fixit'><strong>Fix it:</strong> Remove <code>alert()</code>, <code>prompt()</code> or <code>confirm()</code> from the code.</p>
    </div>
</div>