<div class="col-md-12 issue">
    <div class="col-md-1 num-issue"></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue page-header">Page load interrupted by a modal dialog</h2>
    <p>Upon loading, the page opens a modal dialog (via <code>alert()</code>, <code>prompt()</code> or <code>confirm()</code> in JavaScript), with the text <q><%=text%></q>.</p>
        <h3>why ?</h3>
        <p>Modal dialogs are in most cases a bad idea: they interrupt the user normal interactions with the page and they stop the page from loading until the user reacts.</p>
        <h3>how to fix it ?</h3>
        <p>Remove <code>alert()</code>, <code>prompt()</code> or <code>confirm()</code> from the code.</p>
    </div>
</div>