<div class="issue">
  <h2>The width of the page is larger than an average mobile browser size</h2>
  <p>The width of the page is larger than an average mobile browser size - this means users will have to scroll horizontally and vertically, or zoom in and out.</p>
</div>
