<div class="col-md-12 issue">
    <div class="col-md-12 content-issue">
    <h2 class="title-issue page-header"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Flash application detected. <small><%=category%></small></h2>
        <p>An Adobe Flash applet is loaded via the embed tag.</p>
        <p>Adobe Flash will not run on many mobile devices.</p>
        <p class='fixit'><strong>Fix it:</strong> Nowadays, technologies such as HTML5, SVG and the canvas API provide well-supported replacements for most Flash features.</p>
    </div>
</div>
