<div class="col-md-12 issue">
    <div id="issue-status" class="col-md-1"><span class="octicon octicon-issue-opened"></span></div>
   <div class="col-md-11 content-issue">
    <h2 class="title-issue page-header">Flash application detected <br><small><%=category%></small></h2>
        <p>Usage of Adobe Flash has been detected on the page, through the swfobject Javascript library.</p>
        <p>Adobe Flash will not run on many mobile devices.</p>
        <div class='fixit'>
            <h2><span class="octicon octicon-issue-closed"></span> HOW TO FIX IT:</h2>
            Nowadays, technologies such as HTML5, SVG and the canvas API provide well-supported replacements for most Flash features.
        </div>
    </div>
</div>