<div class="issue">
    
    
    <h2> Page load interrupted by a modal dialog </h2>
    <p>Upon loading, the page opens a modal dialog (via <code>alert()</code>, <code>prompt()</code> or <code>confirm()</code> in JavaScript), with the text <q><%=text%></q>.</p>
        <p>Modal dialogs are in most cases a bad idea: they interrupt the user normal interactions with the page and they stop the page from loading until the user reacts.</p>
</div>
<div class='fix'>
            
            Remove <code>alert()</code>, <code>prompt()</code> or <code>confirm()</code> invokations from the JavaScript code.
        </div>
