<div class="col-md-12 issue">
    <div id="issue-status" class="col-md-1"><span class="octicon octicon-issue-opened"></span></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue page-header"> Page load interrupted by a modal dialog <br><small><%=category%></small></h2>
    <p>Upon loading, the page opens a modal dialog (via <code>alert()</code>, <code>prompt()</code> or <code>confirm()</code> in JavaScript), with the text <q><%=text%></q>.</p>
        <p>Modal dialogs are in most cases a bad idea: they interrupt the user normal interactions with the page and they stop the page from loading until the user reacts.</p>
        <div class='fixit'>
            <h2><span class="octicon octicon-issue-closed"></span> HOW TO FIX IT:</h2>
            Remove <code>alert()</code>, <code>prompt()</code> or <code>confirm()</code> invokations from the JavaScript code.
        </div>
    </div>
</div>