<div class="issue">
    <h2>App manifest is not well-formed JSON</h2>
        <p>The declared app manifest at <code><a href="<%= manifest %>"><%= manifest %></a></code> cannot be parsed as JSON — it fails  with the error <code><%= error.message %></code>. Browsers will not be able to use it to install the app.</p>
        </div>
        <div class='fix'>
            <p>Make sure that the manifest file is well-formed JSON; watch out in particular that JSON only accepts double-quotes (<code>"</code>), that these are required around property names, and JSON does not accept trailing commas.</p>
        </div>
