<div class="issue">
    <h2>App manifest is not valid </h2>
        <p>The declared app manifest at <code><a href="<%= manifest %>"><%= manifest %></a></code> does not follow the requirements set in the <a href="http://www.w3.org/TR/appmanifest/">specification</a>:</p>
        <ul>
        <% for(var i=0; i < errors.length; i++) {%>
        <li><code><%= errors[i].stack %></code></li>
        <% } %>
        </ul>
        <p>It thus risks not being interpreted correctly by browsers.</p>
</div>
        <div class='fix'>
            <p>Make sure that the manifest file uses the properties is well-formed JSON; watch out in particular that JSON only accepts double-quotes (<code>"</code>), that these are required around property names, and JSON does not accept trailing commas.</p>
        </div>
