<div class="issue">
    <h2> More than one app manifests are declared</h2>
        <p>More than one (<%=links.length + 1%>) app manifests are declared in the HTML.</p>
        <p>Only the first manifest is taken into account; the other declarations should be removed as they clutter the code.</p>
</div>
        <div class='fix'>
            Keep only the first <code>&lt;link rel=manifest&gt;</code> declaration.
        </div>
