<div class="col-md-12 issue">
    <div class="col-md-1 num-issue"></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue"> too small font size detected</h2>
        <p>elements detected with font-size lower than 16px.</p>
        <ul class="col-md-12">
        	<%for(index in size.width){%>
        	<li><code><%=outerHtml[index]%></code> (<%=tag[index]%> element) display with small size. (width : <%=size.width[index]%> height : <%=size.height[index]%> pixels CSS)</li>
        	<%}%>
        </ul>
        <h3>why ?</h3>
        <p>On a mobile device, it's recommended to not put size lower than 48px CSS with correct meta-viewport because the user experience will be deteriorated with small size. It could force user to zoom on their mobile device.</p>
        <h3>how to fix it ?</h3>
        <p>It's recommened to put size (width and height) power than 48px.</p>
    </div>
</div>