<div class="issue">
    <h2> The meta viewport does not declare a <code>width</code> nor an <code>initial-scale</code> property </h2>
        <p>The meta viewport does not declare a <code>width</code>, nor an <code>initial-scale</code>, and thus will not adapt the Web page to mobile screens.</p>
</div>
<div class='fix'>
  <p>Declare a mobile viewport using a meta viewport tag in the head of the HTML markup. Learn more about <a href="https://docs.webplatform.org/wiki/tutorials/mobile_viewport">the mobile viewport</a>.</p>
</div>
