<div class="col-md-12 issue">
    <div id="issue-status" class="col-md-1"><span class="octicon octicon-issue-opened"></span></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue page-header"> The meta viewport does not declare a <code>width</code> nor an <code>initial-scale</code> property <br><small><%=category%></small></h2>
        <p>The meta viewport does not declare a <code>width</code>, nor an <code>initial-scale</code>, and thus will not adapt the Web page to mobile screens.</p>
       <p class='fixit'><strong>Fix it:</strong> Declare a mobile viewport using a meta viewport tag in the head of the HTML markup. Learn more about <a href="https://docs.webplatform.org/wiki/tutorials/mobile_viewport">the mobile viewport</a>.</p>
    </div>
</div>