<div class="issue">
  <h2> Hardcoded viewport width </h2>
        <p>The meta viewport uses an hardcoded value for the width of the viewport.</p>
        <p>A numeric hardcoded value for the meta viewport declaration makes the page less responsive to the actual screen used; if the width is larger than the screen width, the page will be hard to read and will not benefit from some optimizations (e.g. removal of the 300 ms delay in clicks); if the page is significantly more narrow than the screen (as is likely on tablets), the page will not benefit from the whole screen real estate.</p>
</div>
<div class='fix'>
<p>Use <code>device-width</code> as the value of the <code>width</code> parameter in the meta viewport declaration. Learn more about <a href="https://docs.webplatform.org/wiki/tutorials/mobile_viewport">the mobile viewport</a></p>
</div>