<div class="issue">
    <h2> No mobile viewport declared </h2>
        <p>No mobile viewport declared. The meta viewport tag helps adapt the way Web pages are displayed in mobile browsers.</p>
        <p>Without meta viewport declared, mobile browsers will render a Web page as they would on a ~1000px screen; in most cases, this will force users to zoom before they can interact with the page, and then they will have to scroll awkwardly to navigate on the page.</p>
</div>
<div class='fix'>
<p>            Declare a mobile viewport using a meta viewport tag in the head of the HTML markup. Learn more about <a href="https://docs.webplatform.org/wiki/tutorials/mobile_viewport">the mobile viewport</a></p>
</div>