<div class="col-md-12 issue">
    <div id="issue-status" class="col-md-1"><span class="octicon octicon-issue-opened"></span></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue page-header"> No mobile viewport declared <br><small><%=category%></small></h2>
        <p>No mobile viewport declared. The meta viewport tag helps adapt the way Web pages are displayed in mobile browsers.</p>
        <br>
        <p>Without meta viewport declared, mobile browsers will render a Web page as they would on a ~1000px screen; in most cases, this will force users to zoom before they can interact with the page, and then they will have to scroll awkwardly to navigate on the page.</p>
        <div class='fixit'>
            <h2><span class="octicon octicon-issue-closed"></span> HOW TO FIX IT:</h2>
            Declare a mobile viewport using a meta viewport tag in the head of the HTML markup. Learn more about <a href="https://docs.webplatform.org/wiki/tutorials/mobile_viewport">the mobile viewport</a>
        </div>
    </div>
</div>