<div class="col-md-12 issue">
    <div id="issue-status" class="col-md-1"><span class="octicon octicon-issue-opened"></span></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue page-header"> Non-standard parameter in viewport declaration <br><small><%=category%></small></h2>
        <p>The following properties are used in a meta viewport declaration but are not defined in the reference specification:
        <% for(var i=0; i < nonstandardProperties.length; i++) {%>
          <code><%= nonstandardProperties[i] %></code>
          <% if (i < nonstandardProperties.length - 1) {%>, <% } %>
        <% } %>
        </p>
        <p>Relying on their usage may create inconsistent user experiences across browsers.</p>
        <div class='fixit'>
            <h2><span class="octicon octicon-issue-closed"></span> HOW TO FIX IT:</h2>
            Avoid using non-standard properties in the meta viewport declaration. Learn more about <a href="https://docs.webplatform.org/wiki/tutorials/mobile_viewport">the mobile viewport</a>.
        </div>
    </div>
</div>