<div class="issue">
    
    
    <h2> Non-standard parameter in viewport declaration </h2>
        <p>The following properties are used in a meta viewport declaration but are not defined in the reference specification:
        <% for(var i=0; i < nonstandardProperties.length; i++) {%>
          <code><%= nonstandardProperties[i] %></code>
          <% if (i < nonstandardProperties.length - 1) {%>, <% } %>
        <% } %>
        </p>
        <p>Relying on their usage may create inconsistent user experiences across browsers.</p>
        </div>
        <div class='fix'>

            <p>Avoid using non-standard properties in the meta viewport declaration. Learn more about <a href="https://docs.webplatform.org/wiki/tutorials/mobile_viewport">the mobile viewport</a>.</p>
        </div>
    </div>
</div>