<div class="issue">
    
    
    <h2> More than one viewports are declared </h2>
        <p>More than one viewports are declared in the HTML. Please check your HTML file keep a single meta viewport</p>
        <br>
        <p>Only the last meta viewport declaration is taken into account; the other declarations should be removed as they clutter the code and may have an impact on performance.</p>
</div>
<div class='fix'>
            
<p>            Keep only the last meta viewport declaration. Learn more about <a href="https://docs.webplatform.org/wiki/tutorials/mobile_viewport">the mobile viewport</a>.</p>
</div>