<div class="issue">
    
    
    <h2> Unknown parameter in viewport declaration </h2>
        <p>The following properties are used in a meta viewport declaration but cannot be recognized as valid values: 
        <% for(var i=0; i < unrecognizedProperties.length; i++) {%>
          <code><%= unrecognizedProperties[i] %></code>
          <% if (i < unrecognizedProperties.length - 1) {%>, <% } %>
        <% } %>
        </p>
        <p>They may be due to a coding error, or linked to proprietary extensions of the meta viewport.</p>
</div>
<div class='fix'>
            
<p>            Check there is no type in the meta viewport declaration and avoid using non-standard properties in the meta viewport declaration. Learn more about <a href="https://docs.webplatform.org/wiki/tutorials/mobile_viewport">the mobile viewport</a>.</p>
</div>