<div class="col-md-12 issue">
    <div id="issue-status" class="col-md-1"><span class="octicon octicon-issue-opened"></span></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue page-header"> Users are prevented to zoom <br><small><%=category%></small></h2>
        <p>The meta viewport declaration prevents users to zoom in on the page.</p>
        <br>
        <p>Except in some specific cases (e.g. games), preventing users to zoom in a page is discouraged; users may want to see details in an image, or may have trouble reading at the current zoom level.</p>
        <div class='fixit'>
            <h2><span class="octicon octicon-issue-closed"></span> HOW TO FIX IT:</h2>
            Remove the constraints on <code>user-scalable</code> or <code>minimum-</code>/<code>maximum-scale</code>. Learn more about <a href="https://docs.webplatform.org/wiki/tutorials/mobile_viewport">the mobile viewport</a>.
        </div>
    </div>
</div>