<div class="issue">
    
    
    <h2> Users are prevented to zoom </h2>
        <p>The meta viewport declaration prevents users to zoom in on the page.</p>
        <p>Except in some specific cases (e.g. games), preventing users to zoom in a page is discouraged; users may want to see details in an image, or may have trouble reading at the current zoom level.</p>
</div>
<div class='fix'>
            
<p>            Remove the constraints on <code>user-scalable</code> or <code>minimum-</code>/<code>maximum-scale</code>. Learn more about <a href="https://docs.webplatform.org/wiki/tutorials/mobile_viewport">the mobile viewport</a>.</p>
</div>